
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 450px;
    height: 650px;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.chat-header {
    background: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

.chat-header h2 {
    margin-bottom: 5px;
}

.chat-header p {
    font-size: 14px;
}



.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.message {
    max-width: 75%;
    padding: 12px 15px;
    border-radius: 10px;
    line-height: 1.4;
}

.bot-message {
    background: #e5e7eb;
    align-self: flex-start;
}

.user-message {
    background: #2563eb;
    color: white;
    align-self: flex-end;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.input-area button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.input-area button:hover {
    background: #1d4ed8;
}
